# Importing Data through API

In [185]:
import pandas as pd

In [186]:
import requests

In [187]:
response =requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [188]:
response.json()['results']

[{'adult': False,
  'backdrop_path': '/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg',
  'genre_ids': [18, 80],
  'id': 278,
  'original_language': 'en',
  'original_title': 'The Shawshank Redemption',
  'overview': 'Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
  'popularity': 28.9782,
  'poster_path': '/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg',
  'release_date': '1994-09-23',
  'title': 'The Shawshank Redemption',
  'video': False,
  'vote_average': 8.714,
  'vote_count': 29584},
 {'adult': False,
  'backdrop_path': '/tSPT36ZKlP2WVHJLM4cQPLSzv3b.jpg',
  'genre_ids': [18, 80],
  'id': 238,
  'original_language': 'en',
  'original_title': 'The Godfather',
  'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
  'popularity': 30.6647,
  'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
  'release_date': '1972-03-14',
  'title': 'The Godfather',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 22343},
 {'adult': False,
  'backdrop_path': '/kGzFbGhp99zva6oZODW5atUtnqi.jpg',
  'genre_ids': [18, 80],
  'id': 240,
  'original_language': 'en',
  'original_title': 'The Godfather Part II',
  'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
  'popularity': 19.5478,
  'poster_path': '/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg',
  'release_date': '1974-12-20',
  'title': 'The Godfather Part II',
  'video': False,
  'vote_average': 8.57,
  'vote_count': 13510},
 {'adult': False,
  'backdrop_path': '/zb6fM1CX41D9rF9hdgclu0peUmy.jpg',
  'genre_ids': [18, 36, 10752],
  'id': 424,
  'original_language': 'en',
  'original_title': "Schindler's List",
  'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
  'popularity': 14.1647,
  'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg',
  'release_date': '1993-12-15',
  'title': "Schindler's List",
  'video': False,
  'vote_average': 8.566,
  'vote_count': 17022},
 {'adult': False,
  'backdrop_path': '/w4bTBXcqXc2TUyS5Fc4h67uWbPn.jpg',
  'genre_ids': [18],
  'id': 389,
  'original_language': 'en',
  'original_title': '12 Angry Men',
  'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",
  'popularity': 11.7491,
  'poster_path': '/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg',
  'release_date': '1957-04-10',
  'title': '12 Angry Men',
  'video': False,
  'vote_average': 8.552,
  'vote_count': 9681},
 {'adult': False,
  'backdrop_path': '/ukfI9QkU1aIhOhKXYWE9n3z1mFR.jpg',
  'genre_ids': [16, 10751, 14],
  'id': 129,
  'original_language': 'ja',
  'original_title': '千と千尋の神隠し',
  'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
  'popularity': 17.5022,
  'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg',
  'release_date': '2001-07-20',
  'title': 'Spirited Away',
  'video': False,
  'vote_average': 8.533,
  'vote_count': 17863},
 {'adult': False,
  'backdrop_path': '/cfT29Im5VDvjE0RpyKOSdCKZal7.jpg',
  'genre_ids': [28, 80, 53],
  'id': 155,
  'original_language': 'en',
  'original_title': 'The Dark Knight',
  'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
  'popularity': 25.4048,
  'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
  'release_date': '2008-07-16',
  'title': 'The Dark Knight',
  'video': False,
  'vote_average': 8.526,
  'vote_count': 35040},
 {'adult': False,
  'backdrop_path': '/zQDFHYNVVVp9OAYSixYAG1SyX1l.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 19404,
  'original_language': 'hi',
  'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
  'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
  'popularity': 6.5305,
  'poster_path': '/2CAL2433ZeIihfX1Hb2139CX0pW.jpg',
  'release_date': '1995-10-20',
  'title': 'Dilwale Dulhania Le Jayenge',
  'video': False,
  'vote_average': 8.515,
  'vote_count': 4544},
 {'adult': False,
  'backdrop_path': '/lgJlu0Fp1mdTaFEeaQJ7DskhSOr.jpg',
  'genre_ids': [14, 18, 80],
  'id': 497,
  'original_language': 'en',
  'original_title': 'The Green Mile',
  'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
  'popularity': 18.4773,
  'poster_path': '/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg',
  'release_date': '1999-12-10',
  'title': 'The Green Mile',
  'video': False,
  'vote_average': 8.503,
  'vote_count': 18750},
 {'adult': False,
  'backdrop_path': '/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg',
  'genre_ids': [35, 53, 18],
  'id': 496243,
  'original_language': 'ko',
  'original_title': '기생충',
  'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
  'popularity': 23.6888,
  'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
  'release_date': '2019-05-30',
  'title': 'Parasite',
  'video': False,
  'vote_average': 8.495,
  'vote_count': 20000},
 {'adult': False,
  'backdrop_path': '/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg',
  'genre_ids': [12, 14, 28],
  'id': 122,
  'original_language': 'en',
  'original_title': 'The Lord of the Rings: The Return of the King',
  'overview': 'As armies mass for a final battle that will decide the fate of the world--and powerful, ancient forces of Light and Dark compete to determine the outcome--one member of the Fellowship of the Ring is revealed as the noble heir to the throne of the Kings of Men. Yet, the sole hope for triumph over evil lies with a brave hobbit, Frodo, who, accompanied by his loyal friend Sam and the hideous, wretched Gollum, ventures deep into the very dark heart of Mordor on his seemingly impossible quest to destroy the Ring of Power.\u200b',
  'popularity': 22.5222,
  'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg',
  'release_date': '2003-12-17',
  'title': 'The Lord of the Rings: The Return of the King',
  'video': False,
  'vote_average': 8.493,
  'vote_count': 25905},
 {'adult': False,
  'backdrop_path': '/96hiUXEuYsu4tcnvlaY8tEMFM0m.jpg',
  'genre_ids': [53, 80, 35],
  'id': 680,
  'original_language': 'en',
  'original_title': 'Pulp Fiction',
  'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
  'popularity': 20.4705,
  'poster_path': '/vQWk5YBFWF4bZaofAbv0tShwBvQ.jpg',
  'release_date': '1994-09-10',
  'title': 'Pulp Fiction',
  'video': False,
  'vote_average': 8.486,
  'vote_count': 29575},
 {'adult': False,
  'backdrop_path': '/8x9iKH8kWA0zdkgNdpAew7OstYe.jpg',
  'genre_ids': [16, 10749, 18],
  'id': 372058,
  'original_language': 'ja',
  'original_title': '君の名は。',
  'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
  'popularity': 20.5021,
  'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg',
  'release_date': '2016-08-26',
  'title': 'Your Name.',
  'video': False,
  'vote_average': 8.478,
  'vote_count': 12238},
 {'adult': False,
  'backdrop_path': '/Adrip2Jqzw56KeuV2nAxucKMNXA.jpg',
  'genre_ids': [37],
  'id': 429,
  'original_language': 'it',
  'original_title': 'Il buono, il brutto, il cattivo',
  'overview': 'While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.',
  'popularity': 12.9184,
  'poster_path': '/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg',
  'release_date': '1966-12-22',
  'title': 'The Good, the Bad and the Ugly',
  'video': False,
  'vote_average': 8.468,
  'vote_count': 9365},
 {'adult': False,
  'backdrop_path': '/5XNQBqnBwPA9yT0jZ0p3s8bbLh0.jpg',
  'genre_ids': [12, 18, 878],
  'id': 157336,
  'original_language': 'en',
  'original_title': 'Interstellar',
  'overview': 'The adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.',
  'popularity': 42.9725,
  'poster_path': '/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg',
  'release_date': '2014-11-05',
  'title': 'Interstellar',
  'video': False,
  'vote_average': 8.466,
  'vote_count': 38685},
 {'adult': False,
  'backdrop_path': '/67HggiWaP9ZLv5sPYmyRV37yAJM.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 13,
  'original_language': 'en',
  'original_title': 'Forrest Gump',
  'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
  'popularity': 19.4409,
  'poster_path': '/saHP97rTPS5eLmrLQEcANmKrsFl.jpg',
  'release_date': '1994-06-23',
  'title': 'Forrest Gump',
  'video': False,
  'vote_average': 8.462,
  'vote_count': 29137},
 {'adult': False,
  'backdrop_path': '/gILte6Zd7m1YneIr6MVhh30S9pr.jpg',
  'genre_ids': [18, 80],
  'id': 769,
  'original_language': 'en',
  'original_title': 'GoodFellas',
  'overview': 'The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.',
  'popularity': 14.6834,
  'poster_path': '/9OkCLM73MIU2CrKZbqiT8Ln1wY2.jpg',
  'release_date': '1990-09-12',
  'title': 'GoodFellas',
  'video': False,
  'vote_average': 8.452,
  'vote_count': 13938},
 {'adult': False,
  'backdrop_path': '/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg',
  'genre_ids': [28, 18],
  'id': 346,
  'original_language': 'ja',
  'original_title': '七人の侍',
  'overview': "A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.",
  'popularity': 7.0476,
  'poster_path': '/lOMGc8bnSwQhS4XyE1S99uH8NXf.jpg',
  'release_date': '1954-04-26',
  'title': 'Seven Samurai',
  'video': False,
  'vote_average': 8.45,
  'vote_count': 4088},
 {'adult': False,
  'backdrop_path': '/aHaqZpOL7UyVu0nKqp3SMz0o2E1.jpg',
  'genre_ids': [16, 18, 10752],
  'id': 12477,
  'original_language': 'ja',
  'original_title': '火垂るの墓',
  'overview': 'In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.',
  'popularity': 0.0086,
  'poster_path': '/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg',
  'release_date': '1988-04-16',
  'title': 'Grave of the Fireflies',
  'video': False,
  'vote_average': 8.444,
  'vote_count': 6296},
 {'adult': False,
  'backdrop_path': '/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg',
  'genre_ids': [35, 18],
  'id': 637,
  'original_language': 'it',
  'original_title': 'La vita è bella',
  'overview': 'A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.',
  'popularity': 8.7132,
  'poster_path': '/mfnkSeeVOBVheuyn2lo4tfmOPQb.jpg',
  'release_date': '1997-12-20',
  'title': 'Life Is Beautiful',
  'video': False,
  'vote_average': 8.44,
  'vote_count': 13737}]

In [189]:
pd.DataFrame(response.json()['results'])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg,"[18, 80]",278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,28.9782,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.714,29584
1,False,/tSPT36ZKlP2WVHJLM4cQPLSzv3b.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",30.6647,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.700,22343
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,19.5478,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.570,13510
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,14.1647,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.566,17022
4,False,/w4bTBXcqXc2TUyS5Fc4h67uWbPn.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,11.7491,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.552,9681
5,False,/ukfI9QkU1aIhOhKXYWE9n3z1mFR.jpg,"[16, 10751, 14]",129,ja,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...",17.5022,/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg,2001-07-20,Spirited Away,False,8.533,17863
6,False,/cfT29Im5VDvjE0RpyKOSdCKZal7.jpg,"[28, 80, 53]",155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,25.4048,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008-07-16,The Dark Knight,False,8.526,35040
7,False,/zQDFHYNVVVp9OAYSixYAG1SyX1l.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",6.5305,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.515,4544
8,False,/lgJlu0Fp1mdTaFEeaQJ7DskhSOr.jpg,"[14, 18, 80]",497,en,The Green Mile,A supernatural tale set on death row in a Sout...,18.4773,/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg,1999-12-10,The Green Mile,False,8.503,18750
9,False,/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg,"[35, 53, 18]",496243,ko,기생충,"All unemployed, Ki-taek's family takes peculia...",23.6888,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,2019-05-30,Parasite,False,8.495,20000
10,False,/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg,"[12, 14, 28]",122,en,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,22.5222,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg,2003-12-17,The Lord of the Rings: The Return of the King,False,8.493,25905
11,False,/96hiUXEuYsu4tcnvlaY8tEMFM0m.jpg,"[53, 80, 35]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",20.4705,/vQWk5YBFWF4bZaofAbv0tShwBvQ.jpg,1994-09-10,Pulp Fiction,False,8.486,29575
12,False,/8x9iKH8kWA0zdkgNdpAew7OstYe.jpg,"[16, 10749, 18]",372058,ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,20.5021,/q719jXXEzOoYaps6babgKnONONX.jpg,2016-08-26,Your Name.,False,8.478,12238
13,False,/Adrip2Jqzw56KeuV2nAxucKMNXA.jpg,[37],429,it,"Il buono, il brutto, il cattivo",While the Civil War rages on between the Union...,12.9184,/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg,1966-12-22,"The Good, the Bad and the Ugly",False,8.468,9365
14,False,/5XNQBqnBwPA9yT0jZ0p3s8bbLh0.jpg,"[12, 18, 878]",157336,en,Interstellar,The adventures of a group of explorers who mak...,42.9725,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014-11-05,Interstellar,False,8.466,38685
15,False,/67HggiWaP9ZLv5sPYmyRV37yAJM.jpg,"[35, 18, 10749]",13,en,Forrest Gump,A man with a low IQ has accomplished great thi...,19.4409,/saHP97rTPS5eLmrLQEcANmKrsFl.jpg,1994-06-23,Forrest Gump,False,8.462,29137
16,False,/gILte6Zd7m1YneIr6MVhh30S9pr.jpg,"[18, 80]",769,en,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",14.6834,/9OkCLM73MIU2CrKZbqiT8Ln1wY2.jpg,1990-09-12,GoodFellas,False,8.452,13938
17,False,/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg,"[28, 18]",346,ja,七人の侍,A samurai answers a village's request for prot...,7.0476,/lOMGc8bnSwQhS4XyE1S99uH8NXf.jpg,1954-04-26,Seven Samurai,False,8.450,4088
18,False,/aHaqZpOL7UyVu0nKqp3SMz0o2E1.jpg,"[16, 18, 10752]",12477,ja,火垂るの墓,"In the final months of World War II, 14-year-o...",0.0086,/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg,1988-04-16,Grave of the Fireflies,False,8.444,6296
19,False,/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg,"[35, 18]",637,it,La vita è bella,A touching story of an Italian book seller of ...,8.7132,/mfnkSeeVOBVheuyn2lo4tfmOPQb.jpg,1997-12-20,Life Is Beautiful,False,8.440,13737

Creating own Dataset

In [229]:
df=pd.DataFrame(response.json()['results'])[['id','title','overview','vote_average']]

In [230]:
df=pd.DataFrame()

In [231]:
df

Empty DataFrame
Columns: []
Index: []

In [232]:
response = requests.get(
    f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1'
)
total_pages = response.json()['total_pages']
print(total_pages)

531

In [234]:
df_list=[]
for i in range(1,100):
    response =requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','vote_average']]
    df_list.append(temp_df)

df = pd.concat(df_list, ignore_index=True)

In [235]:
df.sample(10)

,id,title,overview,vote_average
432,7857,Amarcord,"In an Italian seaside town, young Titta gets i...",7.895
1275,601,E.T. the Extra-Terrestrial,An alien is left behind on Earth and saved by ...,7.511
610,762,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",7.800
1820,80278,The Impossible,"In December 2004, close-knit family Maria, Hen...",7.366
606,1394,Nostalgia,"A Russian poet, Andrei and his interpreter, Eu...",7.801
191,812225,Black Clover: Sword of the Wizard King,As a lionhearted boy who can't wield magic str...,8.094
675,14756,Ip Man,"A semi-biographical account of Yip Man, the fi...",7.760
851,227932,My Mom Is a Character 2,"Dona Hermínia is back, but now rich and famous...",7.700
821,9023,Spirit: Stallion of the Cimarron,A captured mustang remains determined to retur...,7.688
1789,293670,The Wailing,A stranger arrives in a little village and soo...,7.374

In [236]:
df = df.rename(columns={
    'title	': 'Movie_Title',
    'overview': 'Description',
    'vote_average': 'Ratings',
})

df.head()

,id,title,Description,Ratings
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,8.714
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",8.700
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,8.570
3,424,Schindler's List,The true story of how businessman Oskar Schind...,8.566
4,389,12 Angry Men,The defense and the prosecution have rested an...,8.552

In [237]:
df.drop(columns='id',inplace=True)
df

,title,Description,Ratings
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,8.714
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",8.700
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,8.570
3,Schindler's List,The true story of how businessman Oskar Schind...,8.566
4,12 Angry Men,The defense and the prosecution have rested an...,8.552
...,...,...,...
1975,Dear Diary,Nanni Moretti recalls in his diary three slice...,7.330
1976,Vagabond,"Mona Bergeron is dead, her frozen body found i...",7.329
1977,The Gruffalo,The magical tale of a mouse who sets foot on a...,7.300
1978,Dirty Dancing,Expecting the usual tedium that accompanies a ...,7.329
1979,The Idea of You,40-year-old single mom Solène begins an unexpe...,7.324

In [238]:
df.to_csv('GreatMovies.csv')

# Text Preprocessing

## Lowercasing

In [239]:
df['Description']=df['Description'].str.lower()

In [240]:
df['Description']

0       imprisoned in the 1940s for the double murder ...
1       spanning the years 1945 to 1955, a chronicle o...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       the defense and the prosecution have rested an...
                              ...
1975    nanni moretti recalls in his diary three slice...
1976    mona bergeron is dead, her frozen body found i...
1977    the magical tale of a mouse who sets foot on a...
1978    expecting the usual tedium that accompanies a ...
1979    40-year-old single mom solène begins an unexpe...
Name: Description, Length: 1980, dtype: object

Remove HTML Tags(Not Required Here ig)

Remove URL tags (Not Required Here )

Remove Punctuations(Using Regex )

In [201]:
import string

In [241]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [242]:
remove=string.punctuation

In [243]:
def remove_punc(text):
    return text.translate(str.maketrans('','',remove))

In [244]:
df['Description']=df['Description'].apply(remove_punc)

In [206]:
df

,title,Description,Ratings
0,The Shawshank Redemption,imprisoned in the 1940s for the double murder ...,8.714
1,The Godfather,spanning the years 1945 to 1955 a chronicle of...,8.700
2,The Godfather Part II,in the continuing saga of the corleone crime f...,8.570
3,Schindler's List,the true story of how businessman oskar schind...,8.566
4,12 Angry Men,the defense and the prosecution have rested an...,8.552
...,...,...,...
1975,Dear Diary,nanni moretti recalls in his diary three slice...,7.330
1976,Vagabond,mona bergeron is dead her frozen body found in...,7.329
1977,The Gruffalo,the magical tale of a mouse who sets foot on a...,7.300
1978,Dirty Dancing,expecting the usual tedium that accompanies a ...,7.329
1979,The Idea of You,40yearold single mom solène begins an unexpect...,7.324

Chatword Treatment(Not Required Here)

## Spelling Correction

In [207]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\rsdha\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\rsdha\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\rsdha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.8)
Requirement already satisfied: joblib in c:\users\rsdha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.5.3)
Requirement already satisfied: regex>=2021.8.3 in c:\users\rsdha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\rsdha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.67.1)
Requirement already satisfied: colorama in c:\users\rsdha\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rsdha\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rsdha\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rsdha\anaconda3\Lib\site-packages)

In [208]:
from textblob import TextBlob

In [209]:
df['Description']=df['Description'].apply(TextBlob)

In [210]:
df['Description']

0       (i, m, p, r, i, s, o, n, e, d,  , i, n,  , t, ...
1       (s, p, a, n, n, i, n, g,  , t, h, e,  , y, e, ...
2       (i, n,  , t, h, e,  , c, o, n, t, i, n, u, i, ...
3       (t, h, e,  , t, r, u, e,  , s, t, o, r, y,  , ...
4       (t, h, e,  , d, e, f, e, n, s, e,  , a, n, d, ...
                              ...
1975    (n, a, n, n, i,  , m, o, r, e, t, t, i,  , r, ...
1976    (m, o, n, a,  , b, e, r, g, e, r, o, n,  , i, ...
1977    (t, h, e,  , m, a, g, i, c, a, l,  , t, a, l, ...
1978    (e, x, p, e, c, t, i, n, g,  , t, h, e,  , u, ...
1979    (4, 0, y, e, a, r, o, l, d,  , s, i, n, g, l, ...
Name: Description, Length: 1980, dtype: object

I fkd up

In [211]:
df['Description'] = df['Description'].apply(lambda x: ''.join(list(x)))

In [212]:
first_review=TextBlob(df['Description'][0])

In [213]:
first_review

TextBlob("imprisoned in the 1940s for the double murder of his wife and her lover upstanding banker andy dufresne begins a new life at the shawshank prison where he puts his accounting skills to work for an amoral warden during his long stretch in prison dufresne comes to be admired by the other inmates  including an older prisoner named red  for his integrity and unquenchable sense of hope")

## Removing Stopwords

In [214]:
from nltk.corpus import stopwords

In [245]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [216]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rsdha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [246]:
df['Description']=df['Description'].apply(remove_stopwords)

In [218]:
df['Description']

0       imprisoned   1940s   double murder   wife   lo...
1       spanning  years 1945  1955  chronicle   fictio...
2         continuing saga   corleone crime family  you...
3        true story   businessman oskar schindler save...
4        defense   prosecution  rested   jury  filing ...
                              ...
1975    nanni moretti recalls   diary three slice  lif...
1976    mona bergeron  dead  frozen body found   ditch...
1977     magical tale   mouse  sets foot   woodland ad...
1978    expecting  usual tedium  accompanies  summer  ...
1979    40yearold single mom solène begins  unexpected...
Name: Description, Length: 1980, dtype: object

## Removing numbers + years + digit words

In [250]:
import re
df['Description'] = df['Description'].apply(lambda x: re.sub(r'\b\d+\b', '', x))

In [254]:
df['Description'] = df['Description'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())

TypeError: expected string or bytes-like object, got 'list'

## Tokenisation

Using NLTK

In [219]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [220]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rsdha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\rsdha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [252]:
df['Description']=df['Description'].apply(word_tokenize)

In [253]:
df['Description']

0       [imprisoned, 1940s, double, murder, wife, love...
1       [spanning, years, chronicle, fictional, italia...
2       [continuing, saga, corleone, crime, family, yo...
3       [true, story, businessman, oskar, schindler, s...
4       [defense, prosecution, rested, jury, filing, j...
                              ...
1975    [nanni, moretti, recalls, diary, three, slice,...
1976    [mona, bergeron, dead, frozen, body, found, di...
1977    [magical, tale, mouse, sets, foot, woodland, a...
1978    [expecting, usual, tedium, accompanies, summer...
1979    [40yearold, single, mom, solène, begins, unexp...
Name: Description, Length: 1980, dtype: object

Using Spacy

In [165]:
!pip install spacy

Requirement already satisfied: spacy in c:\users\rsdha\anaconda3\lib\site-packages (3.8.11)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (1.0.15)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (2.0.13)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (3.0.12)
Requirement already satisfied: thinc<8.4.0,>=8.3.4 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (8.3.10)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (1.1.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (2.5.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.5.0,>=0.4.2 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (0.4.3)
Requirement already satisfied: typer-slim<1.0.0,>=0.3.0 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (0.21.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (4.67.1)
Requirement already satisfied: numpy>=1.19.0 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (2.1.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (2.32.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (2.10.3)
Requirement already satisfied: jinja2 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (3.1.6)
Requirement already satisfied: setuptools in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (72.1.0)
Requirement already satisfied: packaging>=20.0 in c:\users\rsdha\anaconda3\lib\site-packages (from spacy) (24.2)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\rsdha\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.6.0)
Requirement already satisfied: pydantic-core==2.27.1 in c:\users\rsdha\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.27.1)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\rsdha\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rsdha\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rsdha\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rsdha\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rsdha\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2026.1.4)
Requirement already satisfied: blis<1.4.0,>=1.3.0 in c:\users\rsdha\anaconda3\lib\site-packages (from thinc<8.4.0,>=8.3.4->spacy) (1.3.3)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\rsdha\anaconda3\lib\site-packages (from thinc<8.4.0,>=8.3.4->spacy) (0.1.5)
Requirement already satisfied: colorama in c:\users\rsdha\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.6)
Requirement already satisfied: click>=8.0.0 in c:\users\rsdha\anaconda3\lib\site-packages (from typer-slim<1.0.0,>=0.3.0->spacy) (8.1.8)
Requirement already satisfied: cloudpathlib<1.0.0,>=0.7.0 in c:\users\rsdha\anaconda3\lib\site-packages (from weasel<0.5.0,>=0.4.2->spacy) (0.23.0)
Requirement already satisfied: smart-open<8.0.0,>=5.2.1 in c:\users\rsdha\anaconda3\lib\site-packages (from weasel<0.5.0,>=0.4.2->spacy) (7.5.0)
Requirement already satisfied: wrapt in c:\users\rsdha\anaconda3\lib\site-packages (from smart-open<8.0.0,>=5.2.1->weasel<0.5.0,>=0.4.2->spacy) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\rsdha\anaconda3\lib\site-packages (from jinja2->spacy) (3.0.2)

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rsdha\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rsdha\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rsdha\anaconda3\Lib\site-packages)

In [166]:
import spacy

In [167]:
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.8.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl (12.8 MB)
     ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
     ---------------- ----------------------- 5.2/12.8 MB 29.1 MB/s eta 0:00:01
     ----------------------------------- --- 11.8/12.8 MB 31.4 MB/s eta 0:00:01
     --------------------------------------- 12.8/12.8 MB 28.7 MB/s eta 0:00:00
[+] Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rsdha\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rsdha\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\rsdha\anaconda3\Lib\site-packages)

In [168]:
nlp = spacy.load("en_core_web_sm")

NO NEED FOR LEMMATIZATION HERE
def lemmatize_text(text):
    doc = nlp(text)
    return " ".join([token.lemma_ for token in doc])

df['Description'] = df['Description'].astype(str)  
df['Description'] = df['Description'].apply(lemmatize_text)

In [248]:
df['Description']

0       imprisoned   1940s   double murder   wife   lo...
1       spanning  years 1945  1955  chronicle   fictio...
2         continuing saga   corleone crime family  you...
3        true story   businessman oskar schindler save...
4        defense   prosecution  rested   jury  filing ...
                              ...
1975    nanni moretti recalls   diary three slice  lif...
1976    mona bergeron  dead  frozen body found   ditch...
1977     magical tale   mouse  sets foot   woodland ad...
1978    expecting  usual tedium  accompanies  summer  ...
1979    40yearold single mom solène begins  unexpected...
Name: Description, Length: 1980, dtype: object

# Text representation/Feature Extraction/Text Vectorisation

In [224]:
corpus_len =len(df['Description'])

In [175]:
corpus_len=0

In [176]:
for i in range (0,1979):
    corpus_len+=len(df['Description'][i])
corpus_len

660863

In [ ]:
vocab_len=0
vocab={}
for i in range (0,1979):
    for j in range(0,len(df['Description'][i])):
    vocab.update(df['Description'][i])
corpus_len

In [177]:
df['review'] = df['Description'].str.strip('[]').str.split(', ')
df['review'][0][0]

" ' imprison ' "

In [178]:
df['review'] = df['review'].apply(
    lambda tokens: [word.strip().strip("'").strip('"').strip() for word in tokens]
)

In [179]:

vocab=set()
for i in range (0,1979):
    for j in range(0,len(df['review'][i])):
     vocab.add(df['review'].iloc[i][j])
len(vocab)

10575

In [180]:
print(list(vocab)[:20])

['anne', 'force', 'hour', 'goku', 'frozen', 'cecil', 'exploit', 'venice', 'outskirt', 'thaw', 'mummy', 'front', 'kitaek', 'remove', 'harbor', 'shooter', 'request', 'neighbourhood', 'navy', 'nest']

## One Hot Encoding

In [247]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
one_hot = mlb.fit_transform(df['Description'])


one_hot_df = pd.DataFrame(one_hot, columns=mlb.classes_)

print(one_hot_df.head())

      0  1  2  3  4  5  6  7  8  ...  ʻ  ​  –  —  ‘  ’  “  ”  •  …
0  1  1  1  0  0  1  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
1  1  0  1  0  0  1  1  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
2  1  1  1  0  0  0  1  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3  1  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4  1  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 71 columns]